#############################
### System files
#############################

*/*~
*/.DS_Store

#############################
### Git
#############################

*/.gitignore
*/.gitkeep

#############################
### Codebase
#############################

# File with environment variables
codebase/public/env.js
