#############################
### System files
#############################

*/*~
*/.DS_Store

#############################
### Git
#############################

*/.git/
*/.gitignore
*/.gitkeep

#############################
### Project
#############################

# Documentation files
*/*.md

#############################
### Application
#############################

# Files required to build front-end assets
#application/node_modules/

# PHP debug front controllers
#application/public/index_*.php

# Xdebug output dir
application/var/xdebug/*

# Cron log
application/var/cron.log

# PHP log
application/var/php.log
