root=true

[*]
indent_style=space
indent_size=2
end_of_line=lf
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=true

[*.{ash,bash,sh}]

[*.{css,scss}]

[*.feature]

[*.{html,xml}]

[*.{js,jsx,json}]

[*.md]
trim_trailing_whitespace=false

[*.{ts,tsx}]
indent_size=4

[*.{yaml,yml}]
