#############################
### IDE
#############################

/*.code-workspace
/*.sublime-project
/*.sublime-workspace
/.idea
/.vscode

#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db
