window._env_version = "${WEBCLIENT_VERSION}";
window._env_environment = "${WEBCLIENT_ENVIRONMENT}";
window._env_debug = "${WEBCLIENT_DEBUG}";
window._env_api_gateway_dsn = "${WEBCLIENT_API_GATEWAY_DSN}";
