# * * * * * . /etc/cronenvs; su --command "COMMAND_TO_EXECUTE" deploy > /proc/$(cat /var/run/crond.pid)/fd/1 2>/proc/$(cat /var/run/crond.pid)/fd/2
# ┬ ┬ ┬ ┬ ┬
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ └───── day of week (0 - 7) (1 to 6 are Monday to Saturday; 0 and 7 are Sunday)
# │ │ │ └────────── month (1 - 12)
# │ │ └─────────────── day of month (1 - 31)
# │ └──────────────────── hour (0 - 23)
# └───────────────────────── min (0 - 59)

* * * * * . /etc/cronenvs; su --command "/usr/local/bin/php --file /opt/app/bin/console.php" deploy > /proc/$(cat /var/run/crond.pid)/fd/1 2>/proc/$(cat /var/run/crond.pid)/fd/2
