<!DOCTYPE html>
<html lang="${APP_DEFAULT_LOCALE}">
<head>
    <meta charset="${APP_DEFAULT_CHARSET}">

    <script src="/env.js?v=${APP_VERSION}"></script>
    <script src="/app.js?v=${APP_VERSION}"></script>
</head>
<body></body>
</html>
