#############################
### Docker Compose
#############################

/.env
/docker-compose.override.yml

#############################
### Application
#############################

# Package managers
/app/node_modules
/app/npm-debug.log

# Files generated during container startup
/app/public/config.json
/app/public/index.html
