#############################
### System files
#############################

/**/*~
/**/.DS_Store
/**/desktop.ini
/**/thumbs.db

#############################
### VCS
#############################

/**/.git
/**/.gitignore
/**/.gitkeep

#############################
### Application
#############################

# Package managers
/app/node_modules
/app/npm-debug.log
