#############################
### Boilerplate
#############################

/.examples
/pipeline
/pipeline.sh

#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### Git
#############################

.git
.gitignore
.gitkeep

#############################
### Helm
#############################

/values.*.yaml

#############################
### Kubernetes
#############################

/build
/build.yaml
