#############################
### Docker Compose
#############################

/.env
/docker-compose.override.yml

#############################
### Application
#############################

# Package managers
/app/node_modules
/app/npm-debug.log
