#############################
### Boilerplate
#############################

/.examples
/pipeline
/pipeline.sh

#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### Git
#############################

.git
.gitignore
.gitkeep

#############################
### Docker
#############################

/.dockerignore
/.env
/docker-compose.override.yml
/docker-compose.yml
/Dockerfile

#############################
### Node.js
#############################

/coverage
/dist
/node_modules
/npm-debug.log
