#############################
### System files
#############################

*/*~
*/.DS_Store

#############################
### VCS
#############################

*/.git/
*/.gitignore
*/.gitkeep

#############################
### Application
#############################

# Logs
app/var/logs/*

# Xdebug output dir
app/var/xdebug/*
