# * * * * * $(cat /etc/cron-envvars); COMMAND_TO_EXECUTE >> /app/var/logs/cron.log 2>&1
# ┬ ┬ ┬ ┬ ┬
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ └───── day of week (0 - 7) (1 to 6 are Monday to Saturday; 0 and 7 are Sunday)
# │ │ │ └────────── month (1 - 12)
# │ │ └─────────────── day of month (1 - 31)
# │ └──────────────────── hour (0 - 23)
# └───────────────────────── min (0 - 59)

* * * * * $(cat /etc/cron-envvars); echo "$APP_VERSION: Cron says hello!" >> /app/var/logs/cron.log 2>&1
