#############################
### System files
#############################

/**/*~
/**/.DS_Store

#############################
### IDE
#############################

/.idea/
/*.sublime-project
/*.sublime-workspace

#############################
### Docker
#############################

# Docker Compose environment config
/.env

#############################
### Application
#############################

# Package managers
/app/node_modules/

# Generated public files
/app/public/env.js
/app/public/index.html
