#############################
### System files
#############################

*/*~
*/.DS_Store

#############################
### VCS
#############################

*/.git/
*/.gitignore
*/.gitkeep

#############################
### Application
#############################

# Package managers
app/npm-debug.log

# Nightwatch output
app/var/nightwatch_output/*
