#############################
### System files
#############################

*/*~
*/.DS_Store

#############################
### VCS
#############################

*/.git/
*/.gitignore
*/.gitkeep

#############################
### Application
#############################

# Nightwatch output
/app/var/nightwatch_output/*
