#############################
### System files
#############################

*/*~
*/.DS_Store

#############################
### VCS
#############################

*/.git/
*/.gitignore
*/.gitkeep

#############################
### Application
#############################

# Public file with environment variables
app/public/env.js
