# https://docs.docker.com/compose/reference/envvars/#composeprojectname
COMPOSE_PROJECT_NAME=webdockspa

# https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_FILE=docker-compose.base.yml:docker-compose.expose.yml:docker-compose.dev.yml
COMPOSE_PATH_SEPARATOR=:



APP_VERSION=unreleased
APP_PORT=80



APP_ENVIRONMENT=dev
APP_DEBUG=on

APP_NGINX_BASIC_AUTH=off
APP_NGINX_WORKERS_COUNT=1

APP_API_URL=http://docker.localhost:81
