#############################
### Node.js
#############################

/build
/coverage
/node_modules
/npm-debug.log

#############################
### Docker
#############################

/.dockerignore
/Dockerfile

#############################
### Helm
#############################

/the-web-browser-platform
/values.yaml

#############################
### Workflow
#############################

/.examples
/pipeline

#############################
### Git
#############################

.git
.gitignore
.gitkeep

#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db
