#############################
### Docker
#############################

/.env
/docker-compose.override.yml

#############################
### Node.js
#############################

/coverage
/node_modules
/npm-debug.log
